<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ANDROID_CLIENT_ID</key>
	<string>313694486276-01518gk61b24ajmi8ceoq3qvi74ofdq8.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyC1DuPhkvUDOXtRLXusiEl0Meu4cEowoDo</string>
	<key>GCM_SENDER_ID</key>
	<string>313694486276</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.flutterflow.lightshare</string>
	<key>PROJECT_ID</key>
	<string>lightshare-b528a</string>
	<key>STORAGE_BUCKET</key>
	<string>lightshare-b528a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:313694486276:ios:11ca7715744f4b3070da51</string>
</dict>
</plist>